h1{
    font-size: 72px;
    color: #FFFFFF;
    word-wrap: break-word;
    margin: 0px
}
h2{
    font-size: 64px;
    color: #FFFFFF;
    word-wrap: break-word;
    margin: 0px
}
h3{
    font-size: 48px;
    color: #FFFFFF;
    word-wrap: break-word;
    margin: 0px
}
body {
    background-image: linear-gradient(to right, #383632 0%, #0a1117 100%);
    overflow-y: hidden; /* 隐藏垂直滚动条 */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.PToE {
    transform-origin:left;
    position: sticky;
    min-width: 1558px;
    transform: scale(1); /* 初始缩放比例为1 */
}

button {
    background-color: #000000aa;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    height: 40px;
    width: 80px;
}

input {
    background-color: #000000d5;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    width: 80px;
}


.a {
    opacity: 0.5;
    cursor: not-allowed 
}

.b {
    opacity: 0.8;
    cursor: auto
}

.f {
    opacity: 0.8;
    cursor: auto
}